{% extends 'layouts._site.twig' %}

{% block title %}Voteaza pentru Miss &amp; Mister! {% endblock %}

{% block content %}
<div class="panel panel-info">
  <div class="panel-heading">Profil concurent</div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Tip caracter:</td>
          <td>{{ player.character }}</td>
          <td rowspan="8" align="center" width="56%">
            <img src="http://metin2rapsodia.ro/images/clase/{{ player.job }}.png"><br>
            {% if player.votes_status == 1 and player.rawplaytime >= 400 and player.totalkills >= 150 %}
              <button type="button" class="btn btn-success">Voteaza pentru {{ player.name }}!</button>
            {% else %}
              <button type="button" class="btn btn-danger" disabled>Nu-l poti vota pe {{ player.name }}!</button>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Timp jucat:</td>
          <td>{{ player.playtime }}</td>
        </tr>
        <tr>
          <td>Kill-uri totale:</td>
          <td>{{ player.totalkills }}</td>
        </tr>
        <tr>
          <td>Voturi:</td>
          <td>{{ player.votes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
