<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Metin2 Rapsodia</title>
  <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
</head>
<body>
  <div id="body">
    <div id="header">
      <a href="{{ app.url_generator.generate('cms_landpage') }}">
        <img src="http://placehold.it/410x110">
      </a>
    </div>
    <div id="main">
      <nav class="navbar navbar-inverse">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ app.url_generator.generate('cms_landpage') }}"><i class="fa fa-home"></i> Acasa</a></li>
            <li><a href="">Clasament miss</a></li>
            <li><a href="">Clasament Mister</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <a class="btn btn-success navbar-btn" href="/login">Autentificare</a>
          </ul>
        </div>
      </nav>
      <div class="panel panel-default">
        <div class="panel-body">
          {% block content %} {% endblock %}
        </div>
        <div class="panel-footer">Copyright &copy; Metin2Rapsodia, 2015. Webmaster: <a href="http://4metin.net/" target="_blank">hacktor_ <i class="fa fa-hand-spock-o"></i></a></div>
      </div>
    </div>
  </div>

  <script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
  <script src="{{ app.request.basepath }}/assets/js/jquery-1.11.2.min.js"></script>

</body>
</html>
