<!DOCTYPE html>
<html lang="{{ app.config.html.language }}">

<head>
  <meta charset="{{ app.config.html.encoding }}">
  <meta name="generator" content="Metin2CMS v2: Twig Templating Engine">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>
    {{ render(app.request.attributes.get('_route'))|capitalize }}
     -
    {{ app.config.site.name }}
  </title>

  <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}">
  <link rel="icon" type="image/gif" href="{{ asset('assets/favicon.ico') }}">

  <link href="{{ asset('assets/css/stylesheet.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  {% if app.request.attributes.get('_route') == 'admin' %}
  <link href="{{ asset('assets/css/fileinput.css') }}" rel="stylesheet">
  {% endif %}

</head>

<body>

  <div id="btop">
    <div id="bbtm">

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ render(url('homepage')) }}">
            <i class="fa fa-home"></i>
            {{ app.config.site.name }}
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Activează meniul</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if is_granted('IS_USER') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Panou de control
                <strong class="caret"></strong>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ render(url('usercp')) }}">Utilizator</a></li>
                {% if is_granted('IS_GUILD_LEADER') %}
                <li><a href="{{ render(url('guildcp')) }}">Breaslă</a></li>
                {% endif %}
                {% if is_granted('IS_MODERATOR') %}
                <li><a href="{{ render(url('modcp')) }}">Moderator</a></li>
                {% endif %}
                {% if is_granted('IS_ADMIN') %}
                <li><a href="{{ render(url('admincp')) }}">Administrator</a></li>
                {% endif %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ render(url('usercp') ~ 'register') }}">Înregistrare</a></li>
            <li><a href="{{ render(url('usercp') ~ 'login') }}">Conectare</a></li>
            {% endif %}
            <li><a href="{{ render(url('download')) }}">Descărcare</a></li>
            {% for option in app.config.io %}
              {% if option.value == '1' %}
              <li><a href="{{ render(url(option.option)) }}">{{ option.option|capitalize }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>

          <div class="col-sm-3 col-md-3 pull-right">
            <form action="#" method="post" class="navbar-form" role="search">
              {{ form_widget(form) }}
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </nav>

      <div id="wrapper">
        <div id="header">
          <a id="logo" href="{{ render(url('homepage')) }}" title="{{ app.config.site.name }}">
            <img src="{{ asset('assets/images/logo.png') }}" alt="{{ app.config.site.name }}">
          </a>
        </div>
      </div>

      <div class="container">
        <div class="col-sm-3">
          {% include('widgets/left-sidebar.twig') %}
        </div>

        <div class="col-sm-6">
          {% block center-content %}{% endblock %}
        </div>
        <div class="col-sm-3">
          {% include('widgets/right-sidebar.twig') %}
        </div>
      </div>

      <div class="mt2cms-footer">
        <p class="pull-left">
          Copyright &copy; {{ 'now'|date('Y') }}, {{ app.config.site.name }}.
          {% if app.config.io.m2pserver == '1' %}
          <a href="https://www.metin2pserver.info/server-{{ app.config.site.m2pserverName }}" title="Metin2 PServer">
          {% else %}
          <a href="https://www.metin2pserver.info/" title="Metin2 PServer">
          {% endif %}
            <img src="https://www.metin2pserver.info/mini.png" alt="Metin2 PServer">
          </a>
        </p>

        <p class="pull-right">
          {{ app.poweredBy }}
        </p>
      </div>

    </div>
  </div>

  {% if app.request.attributes.get('_route') == 'admin' %}
  <script src="{{ asset('assets/plugins/ckeditor/ckeditor.js') }}"></script>
  <script src="{{ asset('assets/plugins/ckeditor/build-config.js') }}"></script>

  <script src="{{ asset('assets/js/fileinput.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  {% endif %}
</body>

</html>
